.primary-title {
    text-align: center;
    padding-top: 20px;
}

.secondary-title {
    border-bottom: 2px solid black;
}

.button-primary {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.btn-large {
    padding: 16px 50px;
    font-size: 1em;
    text-align: center !important;
}
.space {
    margin-top: 20px;
}