<div id="layer2" onclick="hide_info(this)">
    <div id="relogios-info">
        Método de Pontuação TDR da EFE<br>
        O TDR da EFE foi pontuado da seguinte maneira:
        <div class="lista1-clock-info"><strong>A. Aprovado.</strong></div>
        <div class="lista2-clock-info">Todos os ponteiros e números estão presentes nas devidas posições. Não há adições ou duplicidades.</div>
        <div class="lista1-clock-info"><strong>B. Reprovado com erros mínimos.</strong></div>
        <div class="lista2-clock-info">Todos os ponteiros e números estão presentes. Os ponteiros estão corretamente posicionados. No entanto, os
        ponteiros têm o mesmo comprimento e/ou pequenos erros de espaçamento. Um “erro de espaçamento”
        existe se após sobrepor a transparência alvo e fazer a rotação para a melhor pontuação, ocorre qualquer um
        dos itens abaixo:</div>
        <div class="lista2-clock-info">a.&nbsp;&nbsp;&nbsp;Algum número está posicionado na porção interior do círculo.</div>
        <div class="lista2-clock-info">b.&nbsp;&nbsp;&nbsp;Há mais ou menos de três números em qualquer um dos quadrantes.</div>
        <div class="lista1-clock-info"><strong>C. Reprovado com erros significantes.</strong></div>
        <div class="lista2-clock-info">a.&nbsp;&nbsp;&nbsp;Colocação dos ponteiros de hora e minuto fora do curso.</div>
        <div class="lista2-clock-info">b.&nbsp;&nbsp;&nbsp;Uso inapropriado dos ponteiros do relógio, de forma que o paciente tenta usar um display digital ou
        circula os números ao invés de usar ponteiros.</div>
        <div class="lista2-clock-info">c.&nbsp;&nbsp;&nbsp;Os números estão amontoados em um extremo do relógio (ex. qualquer quadrante contém menos de
        dois números) ou os números estão em ordem contrária.</div>
        <div class="lista2-clock-info">d.&nbsp;&nbsp;&nbsp;Ocorrem outras distorções quanto à sequencia ou mesmo uma possível distorção da integridade da face
        do relógio (disposição dos números e ponteiros).</div>
        <strong>Uma reprova com erros significativos sugere déficit cognitivo.</strong>
    </div>
</div>
AAAAAAAAAAAAAAAAAAAAAAAAAS