<div class="one-col-grid main">
    <form>
        <h2 align="center">Questão 2b</h2>
        <hr>
        <div align="center" class="one-col-grid" style="padding-bottom: 14px;">De modo geral, como você descreveria sua saúde?</div>
        <label class="one-col-grid opt-question" id="label-Excelente" onclick="radioClick('Excelente', 2)" align="center">
            <input type="radio" name="answer" id="radio-Excelente" value="Excelente"> Excelente
        </label>
        <label class="one-col-grid opt-question" id="label-Muito_boa" onclick="radioClick('Muito_boa', 2)" align="center">
            <input type="radio" name="answer" id="radio-Muito_boa" value="Muito boa"> Muito boa
        </label>
        <label class="one-col-grid opt-question" id="label-Boa" onclick="radioClick('Boa', 2)" align="center">
            <input type="radio" name="answer" id="radio-Boa" value="Boa"> Boa
        </label>
        <label class="one-col-grid opt-question" id="label-Razoavel" onclick="radioClick('Razoavel', 2)" align="center">
            <input type="radio" name="answer" id="radio-Razoavel" value="Razoável"> Razoável
        </label>
        <label class="one-col-grid opt-question" id="label-Ruim" onclick="radioClick('Ruim', 2)" align="center">
            <input type="radio" name="answer" id="radio-Ruim" value="Ruim"> Ruim
        </label>
        <div align="center" class="one-col-grid flow-btn">
            <div class="three-col-grid">
                <button type="button" class="btn btn-primary btn-large" onclick="previousQuestion(this, '2b', 2)" value="2a"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Anterior</button>
            </div>
            <div class="three-col-grid">
                <p id="agent-name">PPSUS - Edmonton<br><strong>Agente: lucinete gomes</strong></p><strong>
                <a href="../paciente.php" style="font-size:30px;">Sair</a></strong>
            </div>
            <div class="three-col-grid">
                <button type="button" class="btn btn-primary btn-large" onclick="nextQuestion(this, '2b', 2)" value="3">Próxima <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
            </div>
        </div>
    </form>
</div>