<div class="body">
    <span class="patient-name" id="patient-name">
        <font color="black">Paciente:</font> TESTE TESTE</span>
    <div class="one-col-grid">
        <nav class="one-col-grid">
            <div class="nav-bar">
                <!--label class="eleven-col-grid" id="nav-q1" style="color: rgb(255, 255, 255); background-color: green;">Q1<br> <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></label-->
                <label class="eleven-col-grid active" id="nav-q2a" (click)="goTo(1)">Q1
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q2a" (click)="goTo(2)">Q2a
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q2b" (click)="goTo(3)">Q2b
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q3" (click)="goTo(4)">Q3
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q4" (click)="goTo(5)">Q4
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q5a" (click)="goTo(6)">Q5a
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q5b" (click)="goTo(7)">Q5b
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q6" (click)="goTo(8)">Q6
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q7" (click)="goTo(9)">Q7
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q8" (click)="goTo(10)">Q8
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
                <label class="eleven-col-grid active" id="nav-q9" (click)="goTo(11)">Q9
                    <br>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
            </div>
        </nav>

        <app-question-edmonton-1 *ngIf="question === 1"></app-question-edmonton-1>
        <app-question-edmonton-2a *ngIf="question === 2"></app-question-edmonton-2a>
        <app-question-edmonton-2b *ngIf="question === 3"></app-question-edmonton-2b>
        <app-question-edmonton-3 *ngIf="question === 4"></app-question-edmonton-3>
        <app-question-edmonton-4 *ngIf="question === 5"></app-question-edmonton-4>
        <app-question-edmonton-5a *ngIf="question === 6"></app-question-edmonton-5a>
        <app-question-edmonton-5b *ngIf="question === 7"></app-question-edmonton-5b>
        <app-question-edmonton-6 *ngIf="question === 8"></app-question-edmonton-6>
        <app-question-edmonton-7 *ngIf="question === 9"></app-question-edmonton-7>
        <app-question-edmonton-8 *ngIf="question === 10"></app-question-edmonton-8>
        <app-question-edmonton-9 *ngIf="question === 11"></app-question-edmonton-9>
        <!--<footer style="position: fixed; bottom: 0px; width: 100%;">
                  <p id="agent-name"></p>
              </footer>-->
    </div>
</div>