<!--form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="login">
  <div class="one-col-grid">
    <h1>PPSUS</h1>
    <hr>
  </div>
  <input type="text" name="login" class="myInputTxt" placeholder="Login" id="login" formControlName="username" [ngClass]="loginForm | formControlClass: 'username'">
  <input type="password" name="password" class="myInputTxt" placeholder="Senha" formControlName="password" [ngClass]="loginForm | formControlClass: 'password'">
  
  <div align="center" class="one-col-grid flow-btn">
    <input type="submit" class="btn btn-primary btn-large" style="margin: 10px" value="Entrar">
  <div>
</form-->

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
          <input id="user" type="text" class="validate" [(ngModel)]="username" name="username">
          <label for="user">Usuário</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Senha</label>
      </div>
    </div>
    <span *ngIf="errorMessage">{{errorMessage}}</span>
    <a class="waves-effect waves-light btn" (click)="login()" >Entrar</a>
  </form>
</div>
