<div class="one-col-grid main">
  <form>
    <h2 align="center">Questão 6</h2>
    <hr>
    <div align="center" style="padding-bottom: 14px">Recentemente, você tem perdido peso de forma que suas roupas estão mais folgadas?</div>
    <label class="one-col-grid opt-question" id="label-Sim" onclick="radioClick('Sim', 2)" align="center">
      <input type="radio" name="answer" id="radio-Sim" value="Sim"> Sim
    </label>
    <label class="one-col-grid opt-question" id="label-Nao" onclick="radioClick('Nao', 2)" align="center">
      <input type="radio" name="answer" id="radio-Nao" value="Não"> Não
    </label>
    <div align="center" class="one-col-grid flow-btn">
      <div class="three-col-grid">
        <button type="button" class="btn btn-primary btn-large" onclick="previousQuestion(this, '6', 2)" value="5b">
          <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Anterior</button>
      </div>
      <div class="three-col-grid">
        <p id="agent-name">PPSUS - Edmonton
          <br>
          <strong>Agente: lucinete gomes</strong>
        </p>
        <strong>
          <a href="../paciente.php" style="font-size:30px;">Sair</a>
        </strong>
      </div>
      <div class="three-col-grid">
        <button type="button" class="btn btn-primary btn-large" onclick="nextQuestion(this, '6', 2)" value="7">Próxima
          <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </form>
</div>