<div class="one-col-grid main">
  <form>
    <h2 align="center">Questão 4</h2>
    <hr>
    <div align="center" style="padding-bottom: 14px">Quando você precisa de ajuda, você pode contar com a ajuda de alguém que atenda as suas necessidades?</div>
    <label class="one-col-grid opt-question" id="label-Sempre" (click)="aways()" [ngClass]="{ selected: Q4 === 1 ? true : false }"  align="center">
      <input type="radio" name="answer" id="radio-Sempre" value="Sempre"> Sempre
    </label>
    <label class="one-col-grid opt-question" id="label-As_vezes" (click)="sometimes()" [ngClass]="{ selected: Q4 === 2 ? true : false }" align="center">
      <input type="radio" name="answer" id="radio-As_vezes" value="As vezes"> As vezes
    </label>
    <label class="one-col-grid opt-question" id="label-Nunca" (click)="never()" [ngClass]="{ selected: Q4 === 3 ? true : false }" align="center">
      <input type="radio" name="answer" id="radio-Nunca" value="Nunca"> Nunca
    </label>
    <div align="center" class="one-col-grid flow-btn">
        <div class="three-col-grid">
            <button type="button" class="btn btn-primary btn-large" (click)="nextQuestion(4)" value="1"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> <i class="fa fa-caret-left"></i> Anterior</button>
        </div>
        <div class="three-col-grid">
            <p id="agent-name">PPSUS - Edmonton<br></p><strong>
            <a routerLink="/" style="font-size:30px;">Sair</a></strong>
        </div>
      <div class="three-col-grid">
          <button type="button" class="btn btn-primary btn-large" (click)="nextQuestion(6)" value="2">Próxima <i class="fa fa-caret-right"></i></button>
      </div>
    </div>
  </form>
</div>