
<div class="body">
  <div class="one-col-grid reg-div">
    <div style="margin-bottom:15px">
        <button type="button" class="btn btn-primary btn-large" (click)="createPatient()">Cadastrar Paciente</button>
        <button type="button" class="btn btn-primary btn-large" (click)="createHealthCenter()">Cadastrar Posto</button>
    </div>
    <div class="one-col-grid src-div">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
      <input type="text" placeholder="Digite o número SUS do paciente" name="pct_sus" id="sus" class="busca-pct" maxlength="18" 
        mask="000.0000.0000.0000"
        [(ngModel)]="susNumber">
        
      <input type="submit" class="src-btn" value="Procurar paciente" (click)="searchPatient()">
    </div>
  </div>

  <div class="one-col-grid" *ngIf="tests.length !== 0; else">
    <div class="one-col-grid">
        <h1>{{patient.nome}} - {{patient.nro_sus}}</h1>
    </div>
    <table style="width:100%">
      <tbody>
        <tr>
          <th>Paciente</th>
          <th>Formulário</th>
          <th>Início</th>
          <th>Fim</th>
        </tr>
        <tr class="subjetiva" *ngFor="let test of tests">
          <td>{{patient.nome}}</td>
          <td *ngIf="test.tipo === 'e'; else subjective">Edmonton</td>
          <ng-template #subjective>
              <td>Subjetiva</td>
          </ng-template>
          <td>{{test.data_inicio}}</td>
          <td>{{test.data_fim}}</td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      Não há nenhuma avaliação para esse paciente.
    </div>
    <div class="one-col-grid" style="margin-top:15px; margin-bottom:15px">
        <input type="submit" name="form2" class="btn btn-success btn-large btn-edmonton" (click)="newEdmonton()" value="Novo Edmonton">
        <input type="submit" name="form1" class="btn btn-primary btn-large" style="margin-left:10px" (click)="newSubjective()" value="Nova Subjetiva">
    </div>
  </div>
  <input type="submit" class="btn-large btn-danger" name="logoff" value="LOGOUT" (click)="logout()">
</div>